body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

.content {
    margin: 25px auto;
    max-width: 760px;
    min-width: 360px;
    display: flex;
    color: #da2323;
    font-size: 26pt;
    flex-direction: row;
}

.content span {
    padding: 29px;
}

@media (max-width: 800px) {
    .content {
      flex-direction: column;
      text-align: center;
    }
}

a {
    color: #268bd2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    padding: 10px;
    text-align: center;
    font-size: 16pt;
}