html, body {
    padding: 0;
    margin: 0;
    font-family: 'Fredericka the Great', cursive;
}

.content {
    margin: 25px auto;
    max-width: 760px;
    min-width: 360px;
    display: flex;
    color: #da2323;
    font-size: 26pt;
    flex-direction: row;
}

.content span {
    padding-top: 40px;
    padding-left: 40px;
}

@media (max-width: 800px) {
    .content {
      flex-direction: column;
    }
}

a {
    color: #268bd2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    padding: 10px;
    text-align: center;
    font-size: 16pt;
}